<div class="nested-fields">
	<%= f.input :price, input_html: { class: 'form-control' } %>
	<%= f.input :description, input_html: { class: 'form-control', rows: '4' } %>

	<%= link_to_remove_association "Remove Slot", f, class: 'btn primary pull-right' %>
</div>